<div ng-controller="headerCtrl as vm" class="page-wrap" role="banner">
	<a ui-sref="posts.allposts({viewStyle: 'list'})" class="logo">
		<img src="/img/logo.png" alt="SimplySocial">
	</a>

	<nav class="header-menu">
		<ul class="nav-list">
			<li class="nav-list-item">
				<button class="btn-new-msg" ng-click="openNewMsgModal()">
					<img src="/img/icon-new-msg.png" alt="">
				</button>
			</li>

			<li class="nav-list-item">
				<input type="search" class="header-search" tabindex="1">
				<button class="open-search">
					<img src="/img/icon-search.png" alt="Open Search">
				</button>
			</li>

			<li class="nav-list-item profile">
				<div class="profile-avatar">
					<img src="/img/profile-avatar.png" alt="Meg">
				</div>
				<menu class="profile-dropdown-menu">
					<ul class="menu-list">
						<li class="menu-list-item">
							<a href="">Profile</a>
						</li>
						<li class="menu-list-item">
							<a href="">Followers</a>
						</li>
						<li class="menu-list-item">
							<a href="">Following</a>
						</li>
						<li class="menu-list-item">
							<a ui-sref="settings">Settings</a>
						</li>
					</ul>
				</menu>
			</li>
		</ul>
	</nav>
</div>