.toggle-container {
	margin-bottom: 1em;
	@extend .clearfix;
	cursor: pointer;
	user-select: none;
}

.toggle {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	border-radius: 25px;
	user-select: none;
	@extend .clearfix;
	
	&.on {
		background-color: $accent-color;
		border: 1px solid $accent-color;

		.switch {
			float: right;
		}
	}

	&.off {
		border: 1px solid #ccc;
		background-color: #ccc;

		.switch {
			float: left;
		}
	}

	.switch {
		background: white;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		transition: 250ms all ease-in;
		user-select: none;
	}
}

.toggle-label {
	display: inline-block;
	margin-left: 1.5em;
	vertical-align: middle;
	color: #70767f;
	user-select: none;
}