* {
	box-sizing: border-box;
}

body {
	font-family: $body-font;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
}

hr {
	border: none;
	height: 1px;
	background: #dedede;
	margin: 2.5em 0;
}

.page-wrap {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 10px;

	@extend .clearfix;
}

.page-wrap-narrow {
	max-width: 590px;
	margin: 0 auto;
	padding: 0 10px;

	@extend .clearfix;
}

.content-container {
	padding-top: $header-height;

	&.blur {
		filter: blur(10px);
	}
}