<div class="hero-container">
	<div class="page-wrap-narrow">
		<div class="hero-new-msg-container">
			<input type="text" class="hero-msg-input" placeholder="What's on your mind?" tabindex="2">

			<menu class="hero-msg-menu">
				<ul class="menu-list">
					<li class="menu-list-item">
						<button>
							<img src="/img/icon-camera.png">
							Add Photo
						</button>
					</li>
					<li class="menu-list-item">
						<button>
							<img src="/img/icon-video.png">
							Add Video
						</button>
					</li>
				</ul>
			</menu>
		</div><!-- ./hero-new-msg-container -->

		<nav class="hero-sub-nav">
			<ul class="nav-list">
				<li class="nav-item">
					<a ui-sref="posts.allposts" ui-sref-active="active">All Posts</a>
				</li>
				<li class="nav-item">
					<a ui-sref="posts.photos" ui-sref-active="active">Photos</a>
				</li>
				<li class="nav-item">
					<a ui-sref="posts.videos" ui-sref-active="active">Videos</a>
				</li>
			</ul>

			<ul class="views-list">
				<li class="view-item" ng-class="{active: (viewStyle === 'list')}">
					<button ng-click="changeViewStyle('list')">
						<img src="/img/icon-list-view.png" alt="">
					</button>
				</li>
				<li class="view-item" ng-class="{active: (viewStyle === 'tile')}">
					<button ng-click="changeViewStyle('tile')">
						<img src="/img/icon-tile-view.png" alt="">
					</button>
				</li>
			</ul>
		</nav><!-- ./hero-sub-nav -->
	</div>
</div>

<div ui-view ng-class="viewStyle"></div>